{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method='post'>
    <img src="/images/logo.svg" height='42' />

    {% include "_partials/flash.njk" %}

    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />

    <button type="submit">Access</button>

    <a href="/signup">Create a Free Account</a>
  </form>
{% endblock %}
